* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background: url('pexels-photo-8621905.jpeg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 500px;
  }
  
  .logo {
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .login-form input {
    display: block;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 25px; /* Increase space between input fields */
    border: none;
    border-radius: 8px;
    background: rgba(0, 127, 168, 0.5);
    color: white;
    font-size: 16px;
  }
  
  .login-form input::placeholder {
    color: #e0e0e0;
  }
  
  .login-form button {
    width: 100%;
    padding: 12px;
    background-color: rgba(60, 100, 180, 0.8);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px; /* Add some space between the last input and the button */
  }
  
  .login-form button:hover {
    background-color: rgba(60, 100, 180, 1);
  }

  .off-screen-menu {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    z-index: 1000;
  }
  
  .off-screen-menu.active {
    right: 0;
  }
  
  .off-screen-menu ul {
    list-style: none;
    text-align: center;
  }
  
  .off-screen-menu li {
    margin: 20px 0;
  }
  
  .off-screen-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  
  .off-screen-menu a:hover{
    color: #00e5ff;
  }
  
  nav {
    padding: 1rem;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .ham-menu {
    height: 35px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 1rem;
  }
  
  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
  }
  
