* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body, html {
    height: 100%;
  }
  
  .container {
    background-image: url('pexels-photo-8621905.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-box {
    width: 80%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
  }
  
  .form-box h1 {
    color: white;
    margin-bottom: 30px;
  }
  
  .form-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    background: rgba(0, 128, 255, 0.3);
    color: white;
    font-size: 16px;
  }
  
  .form-box input::placeholder {
    color: white;
  }
  
  .form-box button {
    margin-top: 20px;
    padding: 12px 30px;
    background-color: rgba(100, 100, 255, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .form-box button:hover {
    background-color: rgba(100, 100, 255, 0.7);
  }
  .off-screen-menu {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    z-index: 1000;
  }
  
  .off-screen-menu.active {
    right: 0;
  }
  
  .off-screen-menu ul {
    list-style: none;
    text-align: center;
  }
  
  .off-screen-menu li {
    margin: 20px 0;
  }
  
  .off-screen-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  
  nav {
    padding: 1rem;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .ham-menu {
    height: 35px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 1rem;
  }
  
  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  .element:hover {
    color: cyan;
    transition: 0.3s ease;
  }
  .ham-menu span:hover {
    background-color: cyan;
    transition: 0.3s ease;
  }
  .ham-menu :active{
    color: cyan;
    transition: 0.3s ease;
  }
  .ham-menu:hover .ham-bar {
    background-color: cyan;
  }
  .ham-menu.active .ham-bar {
    background-color: cyan;
  }
